extends ../layout
block content
  .container
    
    .row
      .alert.alert-danger(role="alert")
        button.close(data-dismiss="alert" aria-label="Close")
          span(aria-hidden="true") &times;
        .alert-link #{error} &nbsp;
      form(method='post', action='/user/signin')
        .modal-header 登录
        .modal-body
          .form-group
            label(for='signinName') 用户名
            input#signinName.form-control(name='user[name]', type='text')
          .form-group
            label(for='signinpassword') 密码
            input#signinpassword.form-control(name='user[password]', type='password')
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') 关闭
          button.btn.btn-success(type='submit') 提交
              
